quam==0.5.0a3
qualang-tools<=0.21.0
xarray
lmfit
tqdm
qualibrate>=0.6.0
qm-qua==1.2.4.1
ipykernel>=6.29.3,<7.0.0
more-itertools
qiskit==2.0.0
pylatexenc
iqcc-cloud-client==0.13.8
iqcc-qualibrate2cloud
quam-builder
qualibration-libs @ git+https://github.com/qua-platform/qualibration-libs.git
betterproto>=2.0.0b7
